<div class="container" style="margin-top: 20px;">
    <p-panel header="Agendar horario">

        <div class="p-grid" style="margin-top: 25px;">

            <div class="p-col">
                <span class="p-float-label">
                    <p-calendar inputId="basic" [(ngModel)]="date"></p-calendar>
                    <label for="float-input">Data</label>
                </span>
            </div>
            <div class="p-col">
                <span class="p-float-label">
                    <p-inputMask mask="00:00"></p-inputMask>
                    <label for="float-input">Horário de entrada</label>
                </span>
            </div>
            <div class="p-col">
                <span class="p-float-label">
                    <p-inputMask mask="00:00"></p-inputMask>
                    <label for="float-input">Horário de saida</label>
                </span>
            </div>
            <div class="p-col">
                <p-button icon="pi pi-check" label="Agendar"></p-button>
            </div>

        </div>
    </p-panel>

    <p-table [style]="{'margin-top': '20px'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Data</th>
                <th>Horário entrada</th>
                <th>Horário saida</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td></td>
              
            </tr>
        </ng-template>
    </p-table>

</div>