<div class="container" style="width: 20%; margin: 100px auto;">

    <form #f="ngForm" >
        <div class="p-col-12" style="margin-bottom: 30px;">
            <h1>Login</h1>
        </div>

        <div class="p-col-12" style="margin-bottom: 30px;">
            <span class="p-float-label">
                <input type="email" pInputText name="usuario" style="width: 100%;" ngModel required #usuario>
                <label for="float-input">E-mail</label>
            </span>
        </div>

        <div class="p-col-12" style="margin-bottom: 25px;">
            <span class="p-float-label">
                <input type="password" pInputText name="senha" style="width: 100%;" ngModel required #senha>
                <label for="float-input">Senha</label>
            </span>
        </div>

        <div class="p-col-12">
            <button pButton type="submit" label = "Login" style="width: 100%;"
            (click)="login(usuario.value, senha.value)"></button>
        </div>
    </form>
</div>